<style type="text/css">
.light-color{
  color: white;
}
</style>
<br/>

<h2 class="light-color">Hi, <%= current_student.name %> </h2>

<hr>

<div class="">
  <div class="row">

    <div  class="col-md-3" >
     <h1 class="center light-color">Your Details</h1>

     <div style="">
      <% @student = Student.find(params[:id]) %>
      <div class="list-group">
        <li class="list-group-item"><strong>Email </strong><span class="pull-right"> <%= @student.email %> </span></li>
        <li class="list-group-item"><strong>Roll Year </strong><span class="pull-right"> <%= @student.rollnum %> </span></li>
        <li class="list-group-item"><strong>Join Year </strong><span class="pull-right"> <%= @student.joinyear %> </span></li>
        <li class="list-group-item"><strong>Department </strong><span class="pull-right"> <%= @student.department %> </span></li>
        <li class="list-group-item"><strong>Hall </strong><span class="pull-right"> <%= @student.hall %> </span></li>
      </div>
    </div>
  </div><!--col-md-3 ends -->


  <div class="col-md-6">
   <div style="margin:30px 0px 5px 0px" class="well">
    <% if @mentorallotted %>
    <h3>Feel Free to get in touch with your Mentor</h3>
    <a href="mailto: <%= @mentor.email %>">
      <h3>Click here to send an email to him.</h3>
    </a>
    <% else %>
    <h3>We will allot a mentor to you soon.</h3>
    <% end %>
  </a>
</div>


<div class="row" style="margin:5px 4px 5px 4px">
 <h1>Recent updates </h1>
 <div class="well">
  <img src="/assets/images/banner.jpg" alt="..." height="400px" width="500px;">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p>...</p>
    <p><a href="#" class="btn btn-primary" role="button">Read More</a></p>
  </div>
</div>

<div class="well">
  <img src="/assets/images/banner.jpg" alt="..." height="400px" width="500px;">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p>...</p>
    <p><a href="#" class="btn btn-primary" role="button">Read More</a></p>
  </div>
</div>

</div>

</div><!--col-md-6 ends -->


<div class="col-md-3">
  <% if @mentorallotted %>
  <h1 class="center light-color">Your Mentor</h1>
  <div class="list-group">
    <li class="list-group-item"><strong>Name</strong><span class="pull-right"> <%= @mentor.name %> </span></li>
    <li class="list-group-item"><strong>Department</strong><span class="pull-right"> <%= @mentor.department %> </span></li>
    <li class="list-group-item"><strong>Designation</strong><span class="pull-right"> <%= @mentor.designation %> </span></li>
    <li class="list-group-item"><strong>Passout Year</strong><span class="pull-right"> <%= @mentor.passoutyear %> </span></li>
    <li class="list-group-item"><strong>Hall</strong><span class="pull-right"> <%= @mentor.hall %> </span></li>
    <% end %>
  </div>
</div><!--col-md-3 ends --> 
</div>
</div>
