<%= form_for(:mentor, url: mentor_registration_path, method: :post) do |f| %>

<h3 class="center"> Basic Details </h3>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label :password %>
  <% if @validatable %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off", autofocus: :true %>
</div>

<div class="field">
  <%= f.label :passout_year %><br />
  <%= f.text_field :passoutyear %>
</div>

<div class="field">
  <%= f.label :department %><br />
  <%= f.text_field :department %>
  <select>
    <option value="">Ashutosh Mukherjee  Hall</option>
    <option value="">Azad  Hall</option>
    <option value="">B C Roy  Hall</option>
    <option value="">B R Ambedkar  Hall</option>
    <option value="">Gokhale  Hall</option>
    <option value="">Homi Bhabha  Hall</option>
    <option value="">J C Bose  Hall</option>
    <option value="">Lala Lajpat Rai  Hall</option>
    <option value="">Lalbahadur Sastry  Hall</option>
    <option value="">Madan Mohan Malviya  Hall</option>
    <option value="">Megnad Saha  Hall</option>
    <option value="">Mother Teresa  Hall</option>
    <option value="">Nehru  Hall</option>
    <option value="">Patel  Hall</option>
    <option value="">Radha Krishnan  Hall</option>
    <option value="">Rajendra Prasad  Hall</option>
    <option value="">Rani Laxmibai  Hall</option>
    <option value="">Sarojini Naidu / Indira Gandhi  Hall</option>
    <option value="">Vidyasagar  Hall</option>
    <option value="">Zakir Hussain  Hall</option>
  </select>
</div>

<hr/>
<h3 class="center"> Contact Details </h3>

<div class="field">
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</div>

<div class="field">
  <%= f.label :firm %><br />
  <%= f.text_field :firm %>
</div>

<div class="field">
  <%= f.label :designation %><br />
  <%= f.text_field :designation %>
</div>

<br/>
<div class="actions">
  <%= f.submit "Sign up", :class => "btn btn-success" %>
</div>
<% end %>
