<div class="center">
  <h2>Are you social?</h2>
  <h3>Do tell us about everything!</h3>
  <h3>Please take some time to fill this in.</h3>
  <h3>This helps us in locating you, as and when required.</h3>
</div>

<%= form_for(:mentor, url: mentor_registration_path, html: { method: :put }) do |f| %>

<div class="field">
  <%= f.label :hall %>
  <select name="mentor[hall]" class="form-control">
    <%= render 'sharedviews/halls' %>
  </select>
</div>

<div class="field">
  <%= f.label "Facebook (Profile URL)" %><br />
  <%= f.text_field :facebook %>
</div>

<div class="field">
  <%= f.label :twitter_username %><br />
  <%= f.text_field :twitter %>
</div>

<div class="field">
  <%= f.label "LinkedIn Public Profile URL" %><br />
  <%= f.text_field :linkedin %>
</div>

<div class="field">
  <%= f.label :skypename %><br />
  <%= f.text_field :skypename %>
</div>

<br/>

<div class="actions">
  <%= f.submit "Update", :class => "btn btn-primary" %>
</div>

<%= link_to "Skip", mentor_path(current_mentor) %>

<br/>
<% end %>