<style>
body{
	background-color: rgb(233,234,236);
	padding: 20px;
}

</style>

<h1 style="color: white; ">Hey, <%= @mentor.name %>! </h1>

<div class="row">
	<div class="col-md-3">
		<br>
		<div class="list-group">
			<li class="list-group-item"><strong>Hall </strong> <span class="pull-right"><%= @mentor.hall %></span></li>
			<li class="list-group-item"><strong>Department </strong> <span class="pull-right"><%= @mentor.department %></span></li>
			<li class="list-group-item"><strong>Firm </strong> <span class="pull-right"><%= @mentor.firm %></span></li>
			<li class="list-group-item"><strong>Designation </strong> <span class="pull-right"><%= @mentor.designation %></span></li>
			<li class="list-group-item"><strong>Phone </strong> <span class="pull-right"><%= @mentor.phone %></span></li>
			<li class="list-group-item"><strong>Pass out year </strong> <span class="pull-right"><%= @mentor.passoutyear %></span></li>
			<br/>
			<a href="<%= edit_mentor_registration_path %>">
				<button class="btn btn-success">Edit Profile</button>
			</a>
		</div>
	</div><!-- col-md-3 ends-->

	<div class="col-md-6">
		
		<div class="well">

			<% if @mentees.length == 0 %>

			<h3>
				Welcome to the Student-Alumni Mentorship Programme! 
			</h3>

			<h4>
				We will allot you a mentee soon. The messaging system will be activated then.
			</h4>

			<% end %>

			<% if not @mentees.length == 0 %>

			<h1> Get in touch with your mentee! </h1>

			<div class="center">

				<% @mentees.each do |tiementee| %>
				<% mentee = Student.find(tiementee.student_id) %>
				<a class="btn btn-primary" href="mailto: <%= mentee.email %>">

					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp

					<%= mentee.name %>

				</a>

				<% end %>

			</div>

			<% end %>

		</div>

		<div class="well">
			<h2>Recent Updates</h2>
			<div class="list-group">
				<a href="/assets/images/bro.pdf" class="list-group-item" target="_blank">Brochure</a>
				<a href="#" class="list-group-item">Website Coming Soon</a>
				<a href="#" class="list-group-item">Website Coming Soon</a>
				<a href="#" class="list-group-item">Website Coming Soon</a>
			</div>
		</div>
	</div><!-- col-md-6 ends-->

	<div class="col-md-3">

		<% if @mentees.length == 0 %>

		<h3 class="center"> Mentees will be alloted soon! </h3>

		<% else %>

		<h1>List of Mentees</h1>

		<table class="table table-striped">
			<tbody>

				<% @mentees.each do |tiementee| %>
				<% mentee = Student.find(tiementee.student_id) %>

				<tr>
					<td><p style="font-size: 20px; "><%= mentee.name %></p></td>
				</tr>
				<tr style="font-size: 16px; ">
					<td><%= mentee.department %> | <%= mentee.hall %></td>
					<td><%= mentee.joinyear %></td>					
				</tr>

				<% end %>
			</tbody>
		</table>
		<% end %>
	</div><!-- col-md-3 ends-->
</div>
