<style>
body{
	background-color: rgb(233,234,236);
	padding: 20px;
}

</style>

<!-- <h1>Hey, <%= @mentor.name %>! </h1> -->

<!-- <div class="row">

	<div class="col-md-9">
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li role="presentation" class="active"><a href="#" style="color:black">Home<span class="badge">42</span></a></li>

			<li role="presentation"><a href="<%= mentor_complete_profile_path %>" style="color:white; background-color: #800;">Complete your profile</a></li>

			<li role="presentation"><a href="#" style="color:black">My Messages<span class="badge">3</span></a></li>
		
		</ul>
		<div style="margin:30px 0px 5px 0px">

			<% if @mentees.length == 0 %>

			<h3>
				Welcome to the Student-Alumni Mentorship Programme! 
			</h3>

			<h4>
				We will allot you a mentee soon. The messaging system will be activated then.
			</h4>

			<% end %>


			<% if not @mentees.length == 0 %>

			<select class="form-control">

				<% @mentees.each do |tiementee| %>
				<% mentee = Student.find(tiementee.student_id) %>
				<option value="<%= mentee.id %>"><%= mentee.name %></option>
				<% end %>

			</select>

			<br/>

			<div class="form-group">
				<input type="text" class="form-control " placeholder="Subject">
			</div>
			<div class="form-group">
				<textarea class="form-control " placeholder="Your Message" style="height:100px"></textarea>
			</div>

			<a href="#" class="btn btn-primary  btn-lg" id="send" role="button">SEND</a>

			<% end %>
		</div>

		<div class="row" style="margin:5px 4px 5px 4px">
			<h1>Recent updates </h1>
			<div class="thumbnail">
				<img src="/assets/images/det_pic.jpg" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Read More</a></p>
				</div>
			</div>

			<div class="thumbnail">
				<img src="/assets/images/det_pic.jpg" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Read More</a></p>
				</div>
			</div>

		</div>

	</div>

	<div class="col-md-3">

		<% if @mentees.length == 0 %>

		<h1 class="center"> No mentees allotted yet! </h1>

		<% else %>

		<h1>List of Mentees</h1>

		<% @mentees.each do |tiementee| %>
		<% mentee = Student.find(tiementee.student_id) %>

		<h3><%= mentee.name %></h3>
		<p><%= mentee.department %></p>
		<p><%= mentee.hall %></p>
		<p>Joined in <%= mentee.joinyear %></p>

		<% end %>

		<% end %>

	</div>	
</div> -->


<div class="row">
	<div class="col-md-3">
		<h2><%= @mentor.name %></h2>
		<img src="/assets/images/det_pic.jpg" width="180px" height="100px;">
		<button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="left" title="Edit Profile Picture">
			<span class="glyphicon glyphicon-plus"></span>
			Upload Picture
		</button><br>
		<div class="list-group">
			<li class="list-group-item"><strong>Hall </strong> <span class="pull-right"><%= @mentor.hall %></span></li>
			<li class="list-group-item"><strong>Department </strong> <span class="pull-right"><%= @mentor.department %></span></li>
			<li class="list-group-item"><strong>Firm </strong> <span class="pull-right"><%= @mentor.firm %></span></li>
			<li class="list-group-item"><strong>Designation </strong> <span class="pull-right"><%= @mentor.designation %></span></li>
			<li class="list-group-item"><strong>Phone </strong> <span class="pull-right"><%= @mentor.phone %></span></li>
			<li class="list-group-item"><strong>Pass out year </strong> <span class="pull-right"><%= @mentor.passoutyear %></span></li>
			<button class="btn btn-success center">Edit Profile</button>
			<a href="/mentors/edit">Edit Profile</a>
		</div>
	</div><!-- col-md-3 ends-->

	<div class="col-md-6">
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li role="presentation" class="active"><a href="#" style="color:black">Home<span class="badge pull-right">42</span></a></li>
			<li role="presentation"><a href="#" style="color:black">Messages <span class="label label-info">4 new</span></a></li>
		</ul>
		<div class="well">
			<h2>Feel free to get in touch with your mentee</h2>
			<div class="alert alert-danger">Our Messeging service is Currently down for Maintenance</div>
		</div>
		<div class="well">

			<% if @mentees.length == 0 %>

			<!-- <h2>No Mentees Alloted Yet..!!</h2> -->
			<h2>Mentees will be alloted soon..!!</h2>

			<% else %>

			<h2>List of Mentees</h2>

			<% @mentees.each do |tiementee| %>
			<% mentee = Student.find(tiementee.student_id) %>

			<h3><%= mentee.name %></h3>
			<p><%= mentee.department %></p>
			<p><%= mentee.hall %></p>
			<p>Joined in <%= mentee.joinyear %></p>

			<% end %>

			<% end %>

		</div>

		<div class="well">
			<h2>Recent Updates</h2>
			<div class="list-group">
				<a href="/assets/images/bro.pdf" class="list-group-item" target="_blank">Brochure</a>
				<a href="#" class="list-group-item">Website Coming Soon</a>
				<a href="#" class="list-group-item">Website Coming Soon</a>
				<a href="#" class="list-group-item">Website Coming Soon</a>
			</div>
		</div>
	</div><!-- col-md-6 ends-->

	<div class="col-md-3">
		<!-- <h2>Recent Updates</h2>
		<div class="list-group">
			<a href="#" class="list-group-item">Website Coming Soon</a>
			<a href="#" class="list-group-item">Website Coming Soon</a>
			<a href="#" class="list-group-item">Website Coming Soon</a>
			<a href="#" class="list-group-item">Website Coming Soon</a>
		</div> -->

		<% if @mentees.length == 0 %>

		<h3 class="center"> Mentees will be alloted soon..!! </h3>

		<% else %>

		<h1>List of Mentees</h1>

		<table class="table table-striped">
			<tbody>

				<% @mentees.each do |tiementee| %>
				<% mentee = Student.find(tiementee.student_id) %>

				<tr>
					<td><p style="font-size: 20px; "><%= mentee.name %></p></td>
				</tr>
				<tr style="font-size: 16px; ">
					<td><%= mentee.department %> | <%= mentee.hall %></td>
					<td><%= mentee.joinyear %></td>					
				</tr>
<!--
		<hr/>
	
		<h2><%= mentee.name %></h2>
		<br/>
		<div style="font-size: 25px; ">
			
			<p class="pull-left"><%= mentee.joinyear %></p>
			<p class="pull-right"><%= mentee.department %> | <%= mentee.hall %></p>
		</div>
	-->

	<% end %>
</tbody>
</table>
<% end %>
	</div><!-- col-md-3 ends-->
</div>
