<%= form_for(:student, url: student_registration_path, method: :post) do |f| %>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :roll_number %><br />
  <%= f.text_field :rollnum %>
</div>

<div class="field">
  <%= f.label :department %><br />
  <select name="student[department]" class="form-control">
    <%= render 'sharedviews/departments' %>
  </select>
</div>

<!-- <div class="field">
  <%= f.label :hall %><br />
  <select name="student[hall]" class="form-control">
    <%= render 'sharedviews/halls' %>
  </select>
</div> -->

<hr>

<h4>In which field you want to be Mentored in.</h4>

<div class="well">
  <div class="field">
    <%= f.label :preference1 %>
    <%= f.text_field :preference1 %>
  </div>

  <div class="field">
    <%= f.label :preference2 %>
    <%= f.text_field :preference2 %>
  </div>

  <div class="field">
    <%= f.label :preference3 %>
    <%= f.text_field :preference3 %>
  </div>
</div>

<div class="field">
  <%= f.label :current_academic_year %><br />
  <%= f.text_field :current_year %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label :password %>
  <% if @validatable %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<br/>

<div class="actions">
  <%= f.submit "Sign up", :class => "btn btn-success" %>
</div>
<% end %>